power_automate_flow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "_description": "Import this into Power Automate via My Flows > Import > Import Package. Then update the Excel connector to point to your SharePoint/OneDrive file.",
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {
        "schema": {
          "type": "object",
          "properties": {
            "subject_name":               { "type": "string" },
            "reviewer_relationship":      { "type": "string" },
            "future_focused":             { "type": "number" },
            "adaptability":               { "type": "number" },
            "positive_outlook":           { "type": "number" },
            "communication":              { "type": "number" },
            "empathy":                    { "type": "number" },
            "teamwork":                   { "type": "number" },
            "stakeholder_management":     { "type": "number" },
            "planning":                   { "type": "number" },
            "inspirational_leadership":   { "type": "number" },
            "strengths":                  { "type": "string" },
            "development":                { "type": "string" }
          }
        }
      }
    }
  },
  "actions": {
    "Parse_JSON": {
      "type": "ParseJson",
      "inputs": {
        "content": "@triggerBody()",
        "schema": {
          "type": "object",
          "properties": {
            "subject_name":               { "type": "string" },
            "reviewer_relationship":      { "type": "string" },
            "future_focused":             { "type": "number" },
            "adaptability":               { "type": "number" },
            "positive_outlook":           { "type": "number" },
            "communication":              { "type": "number" },
            "empathy":                    { "type": "number" },
            "teamwork":                   { "type": "number" },
            "stakeholder_management":     { "type": "number" },
            "planning":                   { "type": "number" },
            "inspirational_leadership":   { "type": "number" },
            "strengths":                  { "type": "string" },
            "development":                { "type": "string" }
          }
        }
      },
      "runAfter": {}
    },
    "Add_Row_to_Excel": {
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_excelonlinebusiness",
          "operationId": "AddRowV2",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"
        },
        "parameters": {
          "source":   "docs",
          "drive":    "YOUR_SHAREPOINT_SITE_OR_ONEDRIVE",
          "file":     "360_feedback_dashboard.xlsx",
          "table":    "FeedbackResponses",
          "item/Timestamp":                "@{utcNow()}",
          "item/Subject Name":             "@{body('Parse_JSON')?['subject_name']}",
          "item/Reviewer Relationship":    "@{body('Parse_JSON')?['reviewer_relationship']}",
          "item/Future Focused":           "@{body('Parse_JSON')?['future_focused']}",
          "item/Adaptability":             "@{body('Parse_JSON')?['adaptability']}",
          "item/Positive Outlook":         "@{body('Parse_JSON')?['positive_outlook']}",
          "item/Communication":            "@{body('Parse_JSON')?['communication']}",
          "item/Empathy":                  "@{body('Parse_JSON')?['empathy']}",
          "item/Teamwork":                 "@{body('Parse_JSON')?['teamwork']}",
          "item/Stakeholder Management":   "@{body('Parse_JSON')?['stakeholder_management']}",
          "item/Planning & Problem Solving": "@{body('Parse_JSON')?['planning']}",
          "item/Inspirational Leadership": "@{body('Parse_JSON')?['inspirational_leadership']}",
          "item/Strengths":                "@{body('Parse_JSON')?['strengths']}",
          "item/Development Areas":        "@{body('Parse_JSON')?['development']}"
        }
      },
      "runAfter": { "Parse_JSON": ["Succeeded"] }
    },
    "Respond_to_webhook": {
      "type": "Response",
      "inputs": {
        "statusCode": 200,
        "body": { "status": "success", "message": "Feedback recorded anonymously." }
      },
      "runAfter": { "Add_Row_to_Excel": ["Succeeded"] }
    }
  }
}
